body {
    background-color: #181818;
    color: #ffffff;
    padding: 0;
    margin: 0.5rem 0;
}

a {
    color: #ada89a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: square;
}

.menu .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    margin: 0.5rem;
}

.menu .title img {
    margin-right: 0.5rem;
    width: 48px;
    border-radius: 50%;
    transition: transform 1.2s ease;
}

.menu .title img:hover {
  transform: rotate(360deg);
}

.menu h3 {
    text-align: center;
    margin: 0.5rem 0;
}

.content {
    display: grid;
    grid-template-columns: 60% 20%;
    justify-content: center;
}

.content > div {
    margin: 0 0.25rem;
}

.body, .menu > div {
    background-color: #202020;
}

.menu > div {
    overflow: auto;
    margin-bottom: 0.5em;
    padding: 0.5rem 0;
}

.body {
    padding: 0.5rem 1rem;
}

.center {
    text-align: center;
}

hr {
    border: none;
    background: #757471;
    height: 2px;
}

.main img {
    width: 100%;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    display: block;
}
