<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/avatar.png">
</head>
<body>
    <div class="content">
        <div class="body">
            <div class="main">
                {{ block "main" . }}{{ end }}
            </div>
            <hr>
            {{ partial "footer.html" . }}
        </div>
        <div class="menu">
            {{ partial "menu.html" . }}
        </div>
    </div>
</body>
</html>
