<div>
    <div class="title">
        <a href="https://www.newgrounds.com/art/view/jaquin58/cats"><img src="/avatar.png" /></a>
        <a href="/"><h3>{{ .Site.Title }}</h3></a>
    </div>
    <ul class="items">
        {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
</div>
<div>
    <h3>Friends</h3>
    <ul>
        {{ range .Site.Data.friendNames }}
            <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
    </ul>
    <div class="center">
        {{ range .Site.Data.friendButtons }}
            <a href="{{ .url }}"><img src="{{ .image }}" alt="{{ .name }}"></a>
        {{ end }}
    </div>
</div>
